@import url('https://fonts.googleapis.com/css?family=Lobster');

#tape-div {
  display: flex;
}


#form-alphabet {
  margin-bottom: 5vh
}

#form-tape {
  margin-bottom: 5vh
}

#turing {
 font-family: 'Lobster', cursive;
 font-size: 60px;
 margin: 2% 0 2% 0
}

#rules {
  margin-top: 10%

}

#estados {
  width: 80%
}